  <div class="small-12 text-center">
    <img src="{{ base_url }}/images/comics/thumbs/A-fistful-of-lunars.jpg">
  <a href="#" data-dropdown="drop1" class="button xlarge dropdown radius">Buy Now</a><br>
    <ul id="drop1" data-dropdown-content class="f-dropdown">
      <li><a href="http://www.amazon.com/dp/B00NTC5CWM/?tag=bathelup-20" target="_blank">Amazon</a></li>
      <li><a href="http://comics.drivethrustuff.com/product/137601/Shamsee-A-Fistful-of-Lunars" target="_blank">DriveThru</a></li>
    </ul>
  </div>
