  <div class="small-12 text-center first-aside  hide-for-medium-down">
  <p><strong>Like what you see? Why wait, buy the 125 page graphic novel now!</strong></p>
    <img src="{{ base_url }}/images/comics/thumbs/A-fistful-of-lunars.jpg">
  <a href="#" data-dropdown="drop1" class="button xlarge dropdown radius">Buy Now</a><br>
    <ul id="drop1" data-dropdown-content class="f-dropdown">
      <li><a href="http://www.amazon.com/dp/B00NTC5CWM/?tag=bathelup-20" target="_blank">Amazon</a></li>
      <li><a href="http://comics.drivethrustuff.com/product/137601/Shamsee-A-Fistful-of-Lunars" target="_blank">DriveThru</a></li>
      <li><a href="https://www.gumroad.com/shamsee" target="_blank">From Us</a></li>
    </ul>
    
  </div>
  
  <div class="small-12 text-center last-aside hide-for-large-up">
    <p>&nbsp;</p>
    <p><strong>Like what you see? Why wait, buy the 125 page graphic novel now!</strong></p>
    <a href="#" data-dropdown="drop2" class="button xlarge dropdown radius">Buy Now</a><br>
    <ul id="drop2" data-dropdown-content class="f-dropdown">
      <li><a href="http://www.amazon.com/dp/B00NTC5CWM/?tag=bathelup-20" target="_blank">Amazon</a></li>
      <li><a href="http://comics.drivethrustuff.com/product/137601/Shamsee-A-Fistful-of-Lunars" target="_blank">DriveThru</a></li>
      <li><a href="https://www.gumroad.com/shamsee" target="_blank">From Us</a></li>
    </ul>
    <img src="{{ base_url }}/images/comics/thumbs/A-fistful-of-lunars.jpg">
  </div>