<div class="small-12 columns">
  <h5 class="page-header text-center"><i class="fa fa-book">   </i> Works in Progress</h5>
  <div class="small-12">
    <div>
      <strong>Fiction</strong>	
	<ul class="no-bullet">
	  <li class="pb10">
	    <p class="wip-title text-left">The Valley of Ten Crescents #4</p>
	      <div class="progress small-12 success radius">
		<span class="meter" style="width: 50%">50%</span>
	      </div>
	  </li>
	</ul>
    </div> 
    <div>
    <strong>Gaming</strong>
      <ul class="no-bullet">
	<li class="pb10">
	  <p class="wip-title text-left">V20 Dark Ages (Onyx Path)</p>
	    <div class="progress small-12 success radius">
	      <span class="meter" style="width: 100%">100% - with the editor</span>
	    </div>
	</li>	
	<li class="no-bullet">
	  <p class="wip-title text-left">RMTBF Compendium</p>
	    <div class="progress small-12 success radius">
	      <span class="meter" style="width: 75%">75%</span>
		<p class="wip-status"></p>
	    </div>
	</li>
      </ul>
      <div>
      <strong>Comics</strong>	
	<ul class="no-bullet">
	  <li class="pb10">
	    <p class="wip-title text-left">Shamsee #2</p>
	      <div class="progress small-12 success radius">
		<span class="meter" style="width: 10%">10%</span>
		  <p class="wip-status"></p>
	      </div>
	  </li>
	</ul>		
      </div>
</div>