<div class="top-ad">
  <div class="row hide-for-small">
    <a href="{{ site.url }}"><img src="{{ site.url }}/images/logo2.jpg" class="logo"></a>
    <a href="http://www.backthatelfup.com/newsletter/?utm_source=shamsee&utm_medium=banner&utm_campaign=nohero
"><img src="{{ site.url }}/images/ads/tavera-no-hero.jpg" alt="BTEU Newsletter ad" title="Thieves at Heart." class="leaderboard right"></a>
  </div>
  <div class="row small-12 center hide-for-large">
    <a href="http://www.backthatelfup.com/newsletter/?utm_source=shamsee&utm_medium=banner&utm_campaign=nohero
mobile"><img src="{{ site.url }}/images/ads/tavera-no-hero.jpg" alt="BTEU Newsletter" title="Thieves at Heart." class="leaderboard center"></a>
  </div>
</div>
