<div class="top-ad">
  <div class="row hide-for-small">
    <a href="{{ site.url }}"><img src="{{ site.url }}/images/logo2.jpg" class="logo"></a>
    <a href="https://gumroad.com/l/XOwCs?leaderboard"><img src="{{ site.url }}/images/ads/book1-ad.jpg" alt="shamsee ad" title="He'll steal your heart - and your money." class="leaderboard right"></a>
  </div>
  <div class="row small-12 center hide-for-large">
    <a href="https://gumroad.com/shamsee"><img src="{{ site.url }}/images/ads/book1-ad.jpg" alt="shamsee ad" title="He'll steal your heart and your money." class="leaderboard center"></a>
  </div>
</div>
