<div class="top-ad">
  <div class="row hide-for-small">
    <a href="{{ site.url }}"><img src="{{ site.url }}/images/logo2.jpg" class="logo"></a>
    <a href="http://www.shamseecomic.com/store/
"><img src="{{ site.url }}/images/ads/dumber.png" alt="Shamsee is dumb" title="Shamsee is dumb." class="leaderboard right"></a>
  </div>
  <div class="row small-12 center hide-for-large">
    <a href="http://www.shamseecomic.com/store/"><img src="{{ site.url }}/images/ads/dumber.png" alt="Shamsee is dumb." title="Shamsee is dumb." class="leaderboard center"></a>
  </div>
</div>
