---
layout: page-comic
footer: false
---

<div id="blog-archives" class="category">
{% for post in site.categories %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2>{{ post.comic }}</h2>
{% endunless %}
{% endfor %}
<div class="row">
  {% for post in site.categories.[page.category]%}
  <div class="small-4 column text-center">
	<p>{% if post.thumbnail %}
	<figure>
	<a href="{{ BASE_PATH }}{{ post.url }}"><img src="{{ post.thumbnail }}" align="center" /><figcaption class="text-center">{{ post.title }}</figcaption></a>
	</figure>
	{% endif %}</p>
  </div>
  {% endfor %}
</div>
</div>