<!-- jQuery CND -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- jQuery local fallback 
<script>window.$ || document.write('<script src="/javascripts/libs/jquery.min.js"><\/script>')</script>-->

<!-- Foundation CND -->
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation.min.js"></script>
<!-- Foundation local fallback
<script>window.Foundation || document.write('<script src="/js/foundation.min.js"><\/script>')</script>-->

<!-- Foundation interchange CND -->
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation/foundation.interchange.min.js"></script>
<!-- Foundation interchange local fallback 
<script>window.Foundation || document.write('<script src="/js/foundation/foundation.interchange.js"><\/script>')</script>-->


<script>$(document).foundation();</script>

