{% if site.fixed_navigation %}
<div class="sticky" data-options="">
{% endif %}
  <nav>
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
            <li><a href="{{ root_url }}/"><img src="/images/backthatelfup-logo.png" class="logo" alt="Back That Elf Up logo"></a></li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>
	  <section class="top-bar-section">
	    <ul class="left">
	      <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/">Home</a></li>
              <li class="has-dropdown{% if page.url == '/books/index.html' or page.url == '/books/little-girl-lost/index.html' or page.url == '/books/thieves-at-heart/index.html' or page.url == '/books/self-made-scoundrel/index.html' or page.url == '/books/red-moon-rising/index.html' or page.url == '/books/botanica-blues/index.html' or page.url == '/books/allegories-of-the-tarot/index.html' %} active{% endif %}"><a href="#">Books</a>
                <ul class="dropdown">
                  <li class="ddheader">The Valley of Ten Crescents</li>
                  <li class="ddtitle"><a href="{{ root_url }}/books/little-girl-lost">Little Girl Lost</a></li>
                  <li class="ddtitle"><a href="{{ root_url }}/books/thieves-at-heart">Thieves at Heart</a></li>
                  <li class="ddtitle"><a href="{{ root_url }}/books/self-made-scoundrel">Self-Made Scoundrel</a></li>
                  <li class="ddtitle"><a href="{{ root_url }}/books/red-moon-rising">Red Moon Rising</a></li>
                  <li class="ddheader">Other Stories</li>
                  <li class="ddtitle"><a href="{{ root_url }}/books/botanica-blues">Botanica Blues</a></li>
                  <li class="ddtitle"><a href="{{ root_url }}/books/allegories-of-the-tarot">Allegories of the Tarot</a></li>
                </ul>
              </li>
            <li{% if page.url == '/comics/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/comics">Comics</a></li>
	    <li class="has-dropdown{% if page.url == '/games/index.html' or page.url == '/games/mythos-expeditions/index.html' or page.url == '/games/reality-makes-the-best-fantasy/index.html' or page.url == '/games/v20-dark-ages/index.html' %} active{% endif %}"><a href="#">Gaming</a>
              <ul class="dropdown">
                <li class="ddtitle"><a href="{{ root_url }}/games/reality-makes-the-best-fantasy">Reality Makes the Best Fantasy</a></li>
                <li class="ddtitle"><a href="{{ root_url }}/games/mythos-expeditions">Mythos Expeditions</a></li>
                <li class="ddtitle"><a href="{{ root_url }}/games/v20-dark-ages">V20 Dark Ages</a></li>
              </ul>
            </li>
            <li{% if page.url == '/about/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/about">About</a></li>
	  </ul>
	  <!-- Right Nav Section -->
	    <ul class="right">
              {% if site.twitter_user %}
                <a class="socials twitter" href="https://twitter.com/{{ site.twitter_user }}" title="Twitter"> <i class="fa fa-2x fa-twitter"> </i></a>
              {% endif %}
              {% if site.facebook_user %}
                <a class="socials facebook" href="https://facebook.com/{{ site.facebook_user }}" title="Facebook"> <i class="fa fa-2x fa-facebook"> </i></a>
              {% endif %}
	    </ul>
	  </section>
	</nav>
  </nav>

{% if site.fixed_navigation %}
</div>
{% endif %}
{% render_partial _includes/custom/newsletter.html %}