<div class="uheader columns">
<div class="small-12 medium-6 large-4 columns left">
  <h4 class="text-center hide-for-med">Tristan J. Tarwater</h4>
</div>
<div class="large-8 columns right hide-for-small hide-for-medium">
  <h4 class="left">Newsletter</h4>
    <form action="http://backthatelfup.us5.list-manage.com/subscribe/post?u=8ac42c027c15ee52a0e2644af&amp;id=2e68440dab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <input type="text" value="" name="FNAME" class="" placeholder="first name" id="mce-FNAME">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button tiny box-shadow">
    </form>
</div>
</div>