{% unless page.no_header %}
  <header>
    {% unless page.meta == false %}
      <p class="meta">
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
             data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
  
<div class="entry-content column"><div class="pagdiv column">
    {% if page.previous.url %}
        <div class="left comic-pag-div">
          <a class="left comic-pagination" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"> <i class="fa fa-arrow-left">&nbsp; Previous </i> </a>
        </div>
      {% endif %}
      {% if page.comic %}
        <div class="left comic-pag-div first">
          <a class="text-center comic-pagination" href="{{ root_url }}/a-fistful-of-lunars/page-1/" title="Previous Post: {{page.previous.title}}"><strong> First Page </strong></a>
        </div>
      {% endif %}
      {% if page.next.url %}
        <div class="right comic-pag-div">
          <a class="right comic-pagination btn-group" href="{{page.next.url}}" title="Next Post: {{page.next.title}}"> <i class="fa">Next</i> <i class="fa fa-arrow-right"></i></a>
        </div>
      
      {% endif %}
     </div> <a href="{{ page.next.url }}">{{ content }}</a> <div class="pagdiv column">
    {% if page.previous.url %}
        <div>
          <a class="basic-alignment left comic-pagination" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"> <i class="fa fa-arrow-left">&nbsp; Previous</i> </a>
        </div>
      {% endif %}
      {% if page.next.url %}
        <div>
          <a class="basic-alignment right comic-pagination btn-group" href="{{page.next.url}}" title="Next Post: {{page.next.title}}"> <i class="fa">Next</i> <i class="fa fa-arrow-right"></i></a>
        </div>
      {% endif %}
     </div>
     </div>

